<h1>{{constructor.name}}</h1>
<a href="{{constructor.url}}">Wikipedia Link</a>

<h3>Drivers</h3>
<ul class="list">
  {{#each drivers}}
    <li><a href="/drivers/{{this.driverId}}">{{this.givenName}} {{this.familyName}}</a></li>
  {{/each}}
</ul>
