<tr>
  <td><a href="/drivers/{{this.driverId}}">{{this.givenName}}</a></td>
  <td><a href="/drivers/{{this.driverId}}">{{this.familyName}}</a></td>
  <td>{{date this.dateOfBirth}}</td>
  <td><a href="{{this.url}}">Link</a></td>
</tr>
